<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>kadai08</servlet-name>
        <servlet-class>camp.kadai08</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai09</servlet-name>
        <servlet-class>camp.kadai09</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai10</servlet-name>
        <servlet-class>camp.kadai10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai11</servlet-name>
        <servlet-class>camp.kadai11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kadai12</servlet-name>
        <servlet-class>camp.kadai12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ouyou</servlet-name>
        <servlet-class>camp.ouyou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ouyou2</servlet-name>
        <servlet-class>camp.ouyou2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ouyou3</servlet-name>
        <servlet-class>camp.ouyou3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kadai08</servlet-name>
        <url-pattern>/kadai08</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai09</servlet-name>
        <url-pattern>/kadai09</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai10</servlet-name>
        <url-pattern>/kadai10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai11</servlet-name>
        <url-pattern>/kadai11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kadai12</servlet-name>
        <url-pattern>/kadai12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ouyou</servlet-name>
        <url-pattern>/ouyou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ouyou2</servlet-name>
        <url-pattern>/ouyou2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ouyou3</servlet-name>
        <url-pattern>/ouyou3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
